{%- comment -%} 
    Default layout for all pages in the website.
    - Based on the lastest bootstrap
    - Includes the following partials:
    In HTML head
        - seo.liquid - Manage all SEO tags
        - analytics.liquid - Manage all analytics tags
    In HTML body
        - header.liquid - Manage the NavBarMenu
        - hero.liquid - Manage the hero section with carousel and call to action
        - breadcrumb.liquid - Manage the breadcrumb navigation
        - footer.liquid - Manage the footer links
        - scripts.liquid - Manage all scripts
{%- endcomment -%}

{%- assign language = page.language | default: site.language | default: "en" -%}
{%- assign stylesheet = "/assets/styles/main.css" | absolute_url -%}

<!doctype html>
<html 
    xmlns="http://www.w3.org/1999/xhtml"
    lang="{{ language }}" 
    data-bs-theme="auto">
    <head>
        <meta 
            http-equiv="Content-Type" 
            content="text/html; charset=utf-8" />
        <meta 
            name="viewport"
            content="width=device-width, initial-scale=1">
        
        <title>{{ site.title }} | {{ page.title | default: site.tagline }}</title>

        <!-- SEO -->
        {% include seo.liquid %}

        <!-- Style -->
        <link 
            rel="stylesheet" 
            type="text/css" 
            href="{{ stylesheet }}">
        
        <!-- Analytics -->
        {%- include analytics.liquid -%}
        
    </head>
    <body>
        <a href="#main" class="visually-hidden">Skip to main content</a>

        <!-- Header -->
        {%- include header.liquid -%}

        <!-- Content -->
        <div id="page-content">
            {{ content }}
        </div>

        <!-- Footer -->
        {%- include footer.liquid -%}
        
        <!-- Scripts -->
        {%- include scripts.liquid -%}
    </body>
</html>