---
layout: default
---
<!-- Hero -->
{%- include hero.liquid -%}
<!-- Content -->
{% if page.content != '' or page.layout == 'pages' or page.layout == 'posts' or page.layout == 'tags' %}
<main>
    <div id="page">
        <article id="main-content">
            {%- if page.hero == false -%}
            <header>
                {%- if page.title -%}
                <!-- Page Title -->
                <h1 class="pt-2">{{ page.title }}</h1>
                {%- endif -%}
                <!-- Breadcrumbs -->
                {%- include breadcrumb.liquid -%}
            </header>
            {%- endif -%}
            {{ content }}
        </article>
    </div>
</main>
{% endif %}