---
layout: page
---
{% assign item = page %}
<section id="post" class="row">
    <div class="col-lg-9 mb-2 mb-sm-0 pb-sm-5">
        <header>
            <div class="border-bottom py-3 mb-3 row">
                <div class="col-12 col-sm-6">
                    {% include post-info.liquid %}
                </div>
                <div class="col py-3 py-sm-0">
                    {% include post-author.liquid format="list" class="nav justify-content-md-end" %}
                </div>

            </div>
        </header>
        <article data-bs-spy="scroll" data-bs-target="#tocSpyScroll" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            {{ content }}
        </article>
        <footer>
            {%- include post-share.liquid -%}
            {%- include post-author.liquid -%}
        </footer>
    </div>
    <aside class="col-lg-3">
        <section class="sticky-top pt-3">
            {%- include post-categories.liquid -%}
            {%- include post-tags.liquid -%}
            {%- include post-toc.liquid title="Content" html=content id="tocScrollSpy" class="nav nav-pills flex-column" item_class="nav-item" anchor_class="nav-link" submenu_class="nav flex-column"  -%}
        </section>
    </aside>
</section>