//
// Hero Display
//
#hero 
{
    @extend .position-relative;
    @extend .bg-light;
    overflow: hidden;
    z-index: 0;
    height: 640px;
}
//
// Hero Visual Content
//
#hero .background 
{
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity:0.8;
}
//
// Hero Text Content
//
#hero-content
{
    @extend .container;
    @extend .position-absolute;
    @extend .top-50;
    @extend .start-50;
    @extend .translate-middle;

    z-index: 2;
    background:rgba(255, 255, 255, 0.8);
    padding:5rem;
    border:1px solid rgba(255, 255, 255, 0.1);
    border-radius:5px;
}
#hero-content > div 
{
    @extend .row;
    @extend .align-items-center;
}
#hero-content > div  > div 
{
    @extend .col;
    @extend .align-items-center;
}
#hero-information h1
{
    @extend .display-4;
}
#hero-information p
{
    @extend .lead;
}

#hero-action
{
    @extend .text-center;
}
#hero-action a
{
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-lg;
}
#hero-action p
{
    @extend .lead;
}